.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 6em;
    align-items: center;
    height: fit-content;
    justify-content: center;
    background-color: white;
    border-top: 1px solid rgb(209, 207, 207);
    border-bottom: 1px solid rgb(209, 207, 207);
    padding: 1% 0;
    z-index: 1;
}

.index{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 5rem;
    padding: 0;
    margin: 0;
}

.index-link{
    font-size: 1em;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    color: gray;
}

.index-link:hover{
    border-bottom: 4px solid grey;
}

.index-link:active, .index-link:focus{
    color: #d1d129;
}

.search{
    display: flex;
    justify-content: end;
    text-decoration: none;
    position: relative;
    left: 10%;
    color: grey;
}

@media screen and (min-width: 280px) and (max-width: 820px){
    .navbar{
        width: 100%;
        top: 5em;
    }
    .index{
        width: 90%;
        column-gap: 10%;
        justify-content: space-around;
        column-gap: 2%;
    }

    .index-link{
        font-size: 60%;
    }

    .search {
        left: 0;
    }
}